<h1 class="text" id="text">Home#index</h1>
<p class="borrar">Find me in app/views/home/index.html.erb</p>

<div id="contenido">
    <h1 id="color-rojo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, molestias.</h1>
<!-- Agregar h1 con jquery -->
</div>

<!-- Cargar una imagen por url desde jquery -->

<!-- Apuntes :  -->
<script>
$(document).ready(function() {
    // $('h1').html('Inicio Rails'); // Seleccion por etiqueta
    //JS = document.querySelector('h1').innerHTML = "Inicio Rails" 
    
    // $('.text').html('Inicio Rails 2'); // Seleccion por clase 
    // JS = document.querySelector('.h1').innerHTML = "Inicio Rails 2"
    
    $('#text').html('Inicio de Rails desde ID'); // Seleccion por id
    // JS = document.querySelector('#text').innerHTML = "Inicio de Rails desde ID"
});

$(document).ready(function () {
    $('#contenido').append('<h1>Este es el H1 desde Jquery</h1>'); // append = final prepend = inicio
    $('#color-rojo').css({color: "red"}); // Aplicando CSS
    $('.borrar').remove(); // Borra elemento . Hide = display none, esconde el elemento
    
});

$(document).ready(function () {
    $('body').append('<img src="">');
    $("img").attr('src', "https://api.jquery.com/jquery-wp-content/themes/jquery/content/books/jquery-succinctly.jpg");
    
});

</script>