<h1>Imitacion de componentes</h1>
<button class="ocultar" id="hide">Ocultar</button>
<p class="alert"><strong>Holy guacamole!</strong>You should check in on some of those fields below</p>

<button class="boton">Ver contenido</button>

<p class="toggle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, ab?</p>



<div id="acordion">
    <button class="ver display">Seccion 1
        <p id="parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </button>


    <button class="ver-2 display">Seccion 2
        <p id="parrafo-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, ut.</p>
    </button> 


    <button class="ver-3 display">Seccion 3
        <p id="parrafo-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </button> 
</div>